@font-face {
    font-family: 'bahn';
    src: url('Font/BAHNSCHRIFT.ttf')  format('truetype');
  }

body{
    background: #fff7e3;
    margin: 0;
}

.body-bck{
    background: url(background2.svg);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: -60%;
}

#carParts, #CarParts {
    height: 100vh;
    width: 100vw;
}

#assemblyLine{
    width: 0;
    height: 0;
}

#infoMain{
    width: 0;
    height: 0;
}

#CarParts > g{
    transform-origin: 0 0;
}

#FordLogo{
    cursor: pointer;
}

#redButton{
    cursor: pointer;
}

/* ---------------------------------------- */

:root {
    --bgPos: 0px;
  }

  .hidden{
      display: none;
  }
  
  #background {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  #background svg {
    height: 100%;
    position: relative;
    transform: translate(var(--bgPos));
  }

  #car, #pedalsSection{
      position: absolute;
      width: 40%;
      height: auto;
  }

  #car{
      top: 50vh;
      left: 5vw;
  }

  #pedalsSection{
      left: 58vw;
      bottom: 5vh;
      width: 20%;
  }

  #pedalsGroup > image{
      cursor: pointer;
  }
